<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
    </bean>

    <!-- Realm实现 -->
    <bean id="monitorRealm" class="com.rxb.res.interceptor.shiro.MonitorRealm">
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="monitorRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 自定义鉴权拦截器 -->
    <!--<bean id="URLPermissionsFilter" class="com.rxb.res.filter.URLPermissionsFilter" />-->

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/" />
        <property name="successUrl" value="/" />
        <property name="unauthorizedUrl" value="/errors/403.jsp" />
        <!--<property name="filters">
            <map>
                <entry key="perms" value-ref="URLPermissionsFilter"/>
            </map>
        </property>-->
        <property name="filterChainDefinitions">
            <value>
                /css/**    =anon
                /js/**     =anon
                /images/** =anon
                /errors/** =anon
                /libs/**   =anon
                /login*    = anon
                <!--/test*     = authc,perms
                /upload*   = authc,perms-->
                /**        = anon
            </value>
        </property>
    </bean>
    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>